{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% block style %}
        {% endblock style %}
        <title>
            {% block title %}
            Base Title
            {% endblock title %}
        </title>
    </head>

    <body>
        {% include 'components/navbar.html' %}
        <div class="pattern-container">
            <img class="pattern" src="{% static 'alumni/pictures/pattern.svg' %}">
        </div>
        {% block body %}
        Base Body
        {% endblock body %}
    </body>
</html>