{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'login/styles_login.css' %}">
{% endblock style %}

{% block body %}
    <div class="container">
        <div class="image-section">
            <img src="{% static 'login/uni.png' %}" alt="Innopolis University Building">
        </div>
        <div class="login-section">
            <div class="logo">
                <img src="{% static 'login/logo_alumni.png' %}" alt="Innopolis University Logo">
            </div>
            <h2>JOIN</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="email" name="username" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">
                    LOGIN</button>
            </form>
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
