{% extends 'base.html' %}
{% load static %}

{% block title %}
Mentorship Welcome
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'mentorship/css/styles.css' %}">
{% endblock style %}

{% block body %}
<div class="content">
    <p class="page_text">Dear Anna,<br>
        thank you for joining our mentorship program, we hope it will be a great experience for you and your mentees.<br>
        We will reach out to you soon.</p>
    <a href="{% url 'intro' %}" class="button">BACK TO MENTORSHIP PAGE</a>
</div>
{% endblock body %}
