@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    overflow-x: hidden;
}

.back-button {
    position: absolute;
 
    left: 9.72%;
    right: 87.72%;
    top: 16.4%;
    bottom: 81.69%;
}

.back-button a {
    text-decoration: none;
    color: #40BA21;
    display: flex;
    align-items: center;
}

.back-button img {
    width: 24px;
}

.container {
    max-width: 1200px;
    background-color: #fff;
    margin-top: 800px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    /* My profile */

    position: absolute;
    left: 40.35%;
    right: 40%;
    top: 40.4%;
    bottom: 76.12%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    /* or 36px */
    text-align: center;
    text-transform: uppercase;
    color: #40BA21;
}

.profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.profile-left {
    width: 280px;
    height: 351px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 26.25%;
    right: 59.31%;
    top: 50.87%;
    bottom: 31.89%;
    background-color: #EDF1F5;
    border-radius: 30px;
}

.profile-picture {
    width: 201px;
    height: 194px;
    position: absolute;
    top: 5%;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.profile-left h3 {
    /* Name surname */
    width: 201px;
    height: 48px;
    position: absolute;
    top: 70.47%;
    bottom: 55.38%;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    /* or 30px */
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.profile-info {
    width: 280px;
    height: 288px;
    position: absolute;
    left: 0.3%;
    top: 106.5%;
    bottom: 5%;
    background-color: #EDF1F5;
    border-radius: 30px;
}

h4 {
   /* Graduation year: position: company: location: */

    position: absolute;
    left: 10.93%;
    right: 42.08%;
    top: 10%;
    bottom: 70.08%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    /* or 17px */
    text-transform: uppercase;

    color: #000000;

    transform: rotate(-0.33deg);

}

.edit-profile-container {
    margin-top: 1px; /* Space between profile details and button */
    align-items: center;
}

.edit-profile-button {
    width: 280px;
    height: 83px;
    position: absolute;
    left: 26.25%;
    right: 59.31%;
    top: 146.5%;
    bottom: 10%;
    border: none;
    border-radius: 30px;
    background-color: #EDF1F5;
    cursor: pointer;
    align-items: center;
}

h6 {
    /* Edit profile */

    position: absolute;
    top: 37.47%;
    bottom: 60%;
    left: 27.5%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;

}

.profile-right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.section-interests {
    width: 512px;
    height: 277px;
    position: absolute;
    left: 46.25%;
    right: 40%;
    top: 50.87%;
    bottom: 56.96%;
    background: #EDF1F5;
    border-radius: 30px;
}

h5 {
    position: absolute;
    left: 5.93%;
    right: 42.08%;
    top: 5.77%;
    bottom: 70.08%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;
}

h7 {
    position: absolute;
    left: 5.93%;
    right: 42.08%;
    top: 15%;
    bottom: 70.08%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;
}


.section-activities {
    width: 512px;
    height: 459px;
    position: absolute;
    left: 46.25%;
    right: 40%;
    top: 94%;
    bottom: 24.87%;
    background: #EDF1F5;
    border-radius: 30px;
}

h8 {
    position: absolute;
    left: 5.93%;
    right: 42.08%;
    top: 11.5%;
    bottom: 70.08%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;

    color: #000000;
}
