{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mentorship Welcome</title>
        <link rel="stylesheet" href="{% static 'alumni/css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <a href="https://innopolis.university" class="uni_logo"><img src="{% static 'alumni/pictures/uniLogo.png' %}" alt="University Logo"></a>
            <div class="icons">
                <a href="./main.html" class="myicon"><img src="{% static 'alumni/pictures/home.svg' %}" alt="Home icon" class="icon"></a>
                <a href="./profile.html" class="myicon"><img src="{% static 'alumni/pictures/profile_icon.png' %}" alt="Profile icon" class="icon"></a>
            </div>
        </div>
    </body>
</html>